@model IEnumerable<Bru2o.Models.WaterProfile>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingCalcium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingMagnesium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingSodium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingChloride)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingSulfate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingAlkalinity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GallonsMashWater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MashWaterDilution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GallonsSpargeWater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpargeWaterDilution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gypsum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalciumChloride)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpsomSalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcidulatedMalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LacticAcid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlakedLime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BakingSoda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chalk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingCalcium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingMagnesium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingSodium)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingChloride)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingSulfate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingAlkalinity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GallonsMashWater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MashWaterDilution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GallonsSpargeWater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpargeWaterDilution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gypsum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalciumChloride)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpsomSalt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcidulatedMalt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LacticAcid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlakedLime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BakingSoda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chalk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
